body {
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    color: rgb(80, 80, 80);
    background-color: rgb(240, 240, 240);
    letter-spacing: 1px;
}


.titleMessage {
   position: absolute;
   width: 100%;
   height: 250px;
   top: 50%;
   z-index: 5;
   text-align: center;
   margin-top: -125px; 
}

.titleMessage .heading p {
    color: #ffffff;
    text-shadow: 0px 2px 5px rgba(0,0,0, 0.4);
    font-weight: 100;
    letter-spacing: 6px;
}

.titleMessage .heading .mainTitle {
    font-size: 40px;
}

.titleMessage .heading .studentTitle {
    font-size: 25px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0,0,0, 0.6);
}

.section{
    padding: 100px 0px 20px;
}

.aboutImage {
    width: 216px;
    height: 216px;
    border: 5px solid rgb(80, 80, 80);
}

.skill {
    margin-left: 25px;
    padding-top: 15px;
    text-align: center;
}

.icon {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
}


.squareText {
    padding-top: 15px;
    position: relative;
    text-align: center;
}

.copyrightSection {
    color: rgb(10, 10, 10);
    bottom:0;
    z-index: 999;
    padding-right: 30px;
    position: relative;
    text-align: right;
}

.job-title {
    color: rgb(240, 240, 240);
    margin: auto;
    font-size: 36px;
}


.tulip-report {
    color: rgb(80, 80, 80);
    text-decoration: none; 
    font-weight: bold;
    font-size: 105%;
}

.tulip-report:hover {
    color: rgb(240, 104, 126);
    text-decoration: none; 
}

.tulipTitle {
    color: rgb(240, 104, 126);
    font-size: 110%;
}

.navbar {
    background-image: linear-gradient(rgb(20, 20, 20), black, rgb(20, 20, 20));
    /* opacity: 0.9; */
    overflow: hidden;
    z-index: 99;
    top: 0;
    position: fixed;
    width: 100%;
    font-size: 16px;
    height: 55px;
}

.navbar-options {
    width: 100%;
    top: 0;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    transform: scale(1.1);
}

.navbar a {
    padding-top: 3px;
    color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
}

.navbar a:hover {
    text-decoration: none; 
    color: rgb(175, 175, 175);
}

.navbar a img{
    padding-bottom: 5px;
}

.navbar a img:hover {
    filter: invert(40%) !important;
}

.context-paragraph {
    margin: 0 auto;
    max-width: 90%;
    padding-bottom: 20px;
}

.context-paragraph::first-letter { 
    font-size: 150%;
    
}

.workTermTitleText {
    padding-top: 10px;
    text-align: center;
    color: rgb(50, 50, 50);
}

.center-text {
    text-align: center;
}

.job-box-container {
    padding: 5px 0px 50px;
    
}

.job-box-container a:hover {
    text-decoration: none; 
}

.job-box {
    position: relative;
    background-color: rgb(50, 50, 50);
    max-width: 90%;
    max-height: 200px;
    margin: 0 auto; 
    text-align: center;
    padding: 75px 30px;
    overflow: hidden;
}

.pending {
    background-color: rgb(10, 10, 10);
}

.job-box img {
    opacity: 0.2;
    transform: scale(1.05); 
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.job-box h1, 
.job-box h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1.5em;
    max-height: 4em;
    -webkit-text-stroke: 1px rgb(38, 38, 38);
    position: relative;
}


.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.05); 
}

/* menuBar color rgba(0, 0, 0, 0.78); */
/* text icons  rgb(255, 255, 255); */
/* hover over text options rgb(150, 150, 150); */


/* Guelph Red #C20430;*/
/* Guelph Gold #FFC72A */
